$theme-01-hex: #758650;
$theme-02-hex: #B5C267;
$theme-03-hex: #FFE27C;
$theme-04-hex: #E8B634;
$theme-05-hex: #F8F9F8;
$theme-06-hex: #C9B6A1;
$white: #fff;
$black: #333;
$black-01: #444;
$black-02: #555;
$black-03: #666;
$black-04: #777;
$black-05: #888;
$black-06: #999;
$black-07: #aaa;
$black-08: #bbb;
$black-09: #ccc;
$black-10: #ddd;
$accent-01: #7DB2FF;
$accent-02: #FF7D7E;
$accent-03: #CFFF66;
$accent-04: #4A7487;

.container {
    background-color: rgba($theme-06-hex, .2);
}

.description {
    font-size: .8rem;
    font-weight: 300;
    
    .arrow {
        i {
            position: relative;
            top: 2px;
        }
    }
}
.accent {
    color: $accent-01;
}
.dot {
    &::after {
        position: relative;
        top: -7px;
        left: 2px;
        content: '*';
        color: $accent-02;
    }
}
// header
header {
    width: 100%;
    padding: 1.5rem 0;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5.5rem;
        background-color: $white;
        z-index: -1;
    }
    
    .hamburger-menu {
        color: $black;
        font-size: 20px;
    }
    .profile {
        font-size: .8rem;

        .profile-pic {
            width: 3rem;
            height: 3rem;
            background-color: $theme-05-hex;
            border-radius: 50%;
            color: #333;
            overflow: hidden;

            img {
                object-fit: contain;
                position: relative;
                top: 5px;
            }
            .default-profile {
                top: 0;
                transform: scale(.5);
            }
        }
    }
}
// menu
.menu-bar {
    line-height: 1;

    &.num01 {
        background-color: $white;
        padding: 1.5rem 2rem;
    }
    &.num02 {
        background-color: $black;
        color: $white;
        padding: 1rem 2rem;
    }
    &.num03 {
        font-size: .9rem;

        li {
            a {
                display: inline-block;
                padding: 1rem;
                border: 1px solid $black;
                border-radius: .5rem;
            }
        }
    }
    .menu-detail {
        width: 100%;
        padding: .5rem 1rem .7rem;

        &:only-child {
            padding: .5rem 0;
        }
    }
}
// lnb
.lnb {
    position: fixed;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: #fff;
    padding: 3rem 1rem;
    
    li {
        padding: .5rem 0;
        a {
            padding: .5rem 0;
        }
    }
}

// table
table {
    tr {
        th, td {padding: .5rem 1rem;}
        th {
            position: relative;
            background-color: rgba($black-01, .1) !important;
            border: 1px solid $black-09;
        }
        td {
            border: 1px solid $black-09;

            label.btn {
                margin: 5px;
            }
        }
    }
}

.btn {
    &.btn-color-01 {
        border: 1px solid $theme-01-hex;
        color: $theme-01-hex;

        &:hover {
            background-color: rgba($theme-01-hex, .3) !important;
            color: $theme-01-hex !important;
        }
    }
    &.btn-color-02 {
        border: 1px solid $theme-02-hex;
        color: $theme-02-hex;

        &:hover {
            background-color: rgba($theme-02-hex, .3) !important;
            color: $theme-02-hex !important;
        }
    }
    &.btn-color-03 {
        border: 1px solid $theme-04-hex;
        color: $theme-04-hex !important;

        &:hover {
            background-color: rgba($theme-04-hex, .3) !important;
        }
    }
    &.btn-color-04 {
        border: 1px solid $theme-06-hex;
        color: $theme-06-hex !important;

        &:hover {
            background-color: rgba($theme-06-hex, .3) !important;
        }
    }
}
.btn-check:checked + .btn-color-01 {
    background-color: $theme-01-hex !important;
    border-color: $theme-01-hex !important;
    color: $white !important;
}
.btn-check:checked + .btn-color-02 {
    background-color: $theme-02-hex !important;
    border-color: $theme-02-hex !important;
    color: $white !important;
}
.btn-check:checked + .btn-color-03 {
    background-color: $theme-04-hex !important;
    border-color: $theme-04-hex !important;
    color: $white !important;
}
.btn-check:checked + .btn-color-04 {
    background-color: $theme-06-hex !important;
    border-color: $theme-06-hex !important;
    color: $white !important;
}