.container {
  background-color: rgba(201, 182, 161, 0.2);
}

.description {
  font-size: 0.8rem;
  font-weight: 300;
}
.description .arrow i {
  position: relative;
  top: 2px;
}

.accent {
  color: #7DB2FF;
}

.dot::after {
  position: relative;
  top: -7px;
  left: 2px;
  content: "*";
  color: #FF7D7E;
}

header {
  width: 100%;
  padding: 1.5rem 0;
}
header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.5rem;
  background-color: #fff;
  z-index: -1;
}
header .hamburger-menu {
  color: #333;
  font-size: 20px;
}
header .profile {
  font-size: 0.8rem;
}
header .profile .profile-pic {
  width: 3rem;
  height: 3rem;
  background-color: #F8F9F8;
  border-radius: 50%;
  color: #333;
  overflow: hidden;
}
header .profile .profile-pic img {
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  top: 5px;
}
header .profile .profile-pic .default-profile {
  top: 0;
  transform: scale(0.5);
}

.menu-bar {
  line-height: 1;
}
.menu-bar.num01 {
  background-color: #fff;
  padding: 1.5rem 2rem;
}
.menu-bar.num02 {
  background-color: #333;
  color: #fff;
  padding: 1rem 2rem;
}
.menu-bar.num03 {
  font-size: 0.9rem;
}
.menu-bar.num03 li a {
  display: inline-block;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 0.5rem;
}
.menu-bar .menu-detail {
  width: 100%;
  padding: 0.5rem 1rem 0.7rem;
}
.menu-bar .menu-detail:only-child {
  padding: 0.5rem 0;
}

.lnb {
  position: fixed;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: #fff;
  padding: 3rem 1rem;
}
.lnb li {
  padding: 0.5rem 0;
}
.lnb li a {
  padding: 0.5rem 0;
}

table tr th, table tr td {
  padding: 0.5rem 1rem;
}
table tr th {
  position: relative;
  background-color: rgba(68, 68, 68, 0.1) !important;
  border: 1px solid #ccc;
}
table tr td {
  border: 1px solid #ccc;
}
table tr td label.btn {
  margin: 5px;
}

.btn.btn-color-01 {
  border: 1px solid #758650;
  color: #758650;
}
.btn.btn-color-01:hover {
  background-color: rgba(117, 134, 80, 0.3) !important;
  color: #758650 !important;
}
.btn.btn-color-02 {
  border: 1px solid #B5C267;
  color: #B5C267;
}
.btn.btn-color-02:hover {
  background-color: rgba(181, 194, 103, 0.3) !important;
  color: #B5C267 !important;
}
.btn.btn-color-03 {
  border: 1px solid #E8B634;
  color: #E8B634 !important;
}
.btn.btn-color-03:hover {
  background-color: rgba(232, 182, 52, 0.3) !important;
}
.btn.btn-color-04 {
  border: 1px solid #C9B6A1;
  color: #C9B6A1 !important;
}
.btn.btn-color-04:hover {
  background-color: rgba(201, 182, 161, 0.3) !important;
}

.btn-check:checked + .btn-color-01 {
  background-color: #758650 !important;
  border-color: #758650 !important;
  color: #fff !important;
}

.btn-check:checked + .btn-color-02 {
  background-color: #B5C267 !important;
  border-color: #B5C267 !important;
  color: #fff !important;
}

.btn-check:checked + .btn-color-03 {
  background-color: #E8B634 !important;
  border-color: #E8B634 !important;
  color: #fff !important;
}

.btn-check:checked + .btn-color-04 {
  background-color: #C9B6A1 !important;
  border-color: #C9B6A1 !important;
  color: #fff !important;
}/*# sourceMappingURL=style.css.map */